@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  color: #333;
}

.layer1 {
  background: #1f2937;
  padding-bottom: 5rem;
}

.layer2 {
  padding-bottom: 3rem;
}

.layer3 {
  background-color: #ccc;
  padding: 5rem 0;
}

.layer4 {
  padding: 4rem 1rem;
}

header {
  max-width: 900px;
  margin: 0 auto;
  color: #f9faf8;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  align-items: center;
}

.logo {
  font-size: 24px;
}

ul.header-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.header-links a {
  color: #ccc;
  font-size: 18px;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

.hero-text button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 8px 32px;
  border: 0;
}

.hero-desc {
  color: #ccc;
  font-size: 18px;
  margin-bottom: 12px;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #ccc;
  overflow: hidden;
}

section.info-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.info-container h2 {
  font-size: 36px;
  color: #1f2937;
}

.info-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 150px;
}

.info .text {
  font-size: 14px;
}

.info img {
  width: 150px;
  height: 150px;
  display: block;
  border: 2px solid;
  border-radius: 8px;
  border-color: #3882f6;
}

.quote-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

.quote-author {
  align-self: flex-end;
  font-weight: bold;
  font-size: 18px;
}

section.market {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
}

.market-text-title {
  font-weight: bold;
  color: #f9faf8;
}

.market-text-desc {
  font-weight: lighter;
  color: #ccc;
  font-size: 12px;
}

.market-button {
  flex-shrink: 0;
}

.market-button button {
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 8px 32px;
  border: 1px solid;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #ccc;
  padding: 20px 0;
}
